---
# Default
BasedOnStyle: Mozilla
---
Language: Cpp

AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignOperands: AlignAfterOperator
#AlignTrailingComments: 
# Kind: Always
# OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: true
#BraceWrapping:
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment
#BreakBeforeTernaryOperators: true
ColumnLimit: 120
#Cpp11BracedListStyle: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
# - Regex:          ''
#   Priority:       # Numeric; Defines the order of the #include blocks
#   SortPriority:   # Optional; same as Priority by default
#   CaseSensitive:  # Optional; true/false
- Regex:          '".*\.h"'               # Component header (main include)
  Priority:       1
- Regex:          '<dbs.*\.h>'            # Core
  Priority:       11
- Regex:          '<(s_)?b[ads]l.*\.h>'   # Bloomberg BDE includes
  Priority:       101
- Regex:          '<(stduuid|tomlplusplus)/'  # Other Third-Party
  Priority:       201
- Regex:          '<Q.+>'                 # Qt
  Priority:       301
  CaseSensitive:  true
- Regex:          '<[a-z_]+>'             # STL includes
  Priority:       401
  CaseSensitive:  true  


IndentWrappedFunctionNames: true
InsertBraces: true
IntegerLiteralSeparator:
  Decimal: 3
  DecimalMinDigits: 7
NamespaceIndentation: Inner
QualifierAlignment: Custom
QualifierOrder: [inline, static, type, const]
PointerAlignment: Left
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always
SpaceBeforeCpp11BracedList: true
SpacesInAngles: Always
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  Other: true
